!URxvt.shading:50
!URxvt.transparent: true
URxvt*font: xft:Terminess\ Powerline:size=12,xft:Inconsolata\ for\ Powerline:size=12
URxvt*scrollTtyOutput: false
!URxvt*foreground: white
URxvt.scrollBar: false

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
rofi.separator-style:                solid
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.color-normal:                    argb:00000000,  #daba8b, argb:00000000, #daba8b, #1b2b34 
rofi.color-urgent:                   argb:00000000,  #845336 , argb:00000000,  #845336 ,  #1B2B34
rofi.color-active:                   argb:00000000,  #191716, argb:00000000,  #191716,  #1B2B34
rofi.color-window:                   argb:ee191716,  #daba8b, #daba8b 



URxvt*urgentOnBell: true
! special
*.foreground:   #daba8b
*.cursorColor:  #daba8b
URxvt*depth: 32
URxvt*background: [93]#191716


